 /* this is for H2 - Login */
  h2 {
    text-align: center;
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #000000;
  }
  
  input[type="username"],
  input[type="password"] {
    width: 98.5%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px; /* rounded corners */
  }
  
  /*this is for the submit button */
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /*this is for the error message */
  .error-message {
    color: red;
    text-align: center;
  }
  
  .register-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .register-button:hover {
    background-color: #56a8ff;;
  }

  .button-container {
    margin-top: 10px;;
  }